* {
  box-sizing: border-box;
}

.main {
  max-width: 65rem;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-left: 35rem;
  font-size: x-large;
}

body {
  background-color: #161B33;
  color: #F1DAC4;
}

h1, h2 {
  text-align: center;
  color: #fff;
  margin: 0;
}

h2 {
  color: #F1DAC4;
  margin-bottom: 1.1rem;
}


form {
  margin-top: 10px;
}

form input {
  width: 100%;
  font-size: large;
  background-color: transparent;
  color: rgb(118, 118, 118);
  border: 2px solid #0D0C1D;
}

.add-guest-style {
  display: flex;
  justify-content: center;
}

.add-expense {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-guest-box {
  width: 60%;
}

.info-basics {
  display: flex;
  width: 100%;
  gap: 0.5rem;
}

.info-logistics {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

select {
  flex: 1;
  background-color: transparent;
  color: rgb(118, 118, 118);
  border: 2px solid #0D0C1D;
  font-size: large;
}

.expense-submit {
  width: 25%;
}

.multiselect-container {
  width: 100%;
}

.guest {
  justify-self: right;
}

.expense-submit {
  margin-top: 0.5rem;
  font-size: large;
  background-color: #7a7a7a;
  color: #ddd;
  border: 2px solid #0D0C1D;
}

.transactions {
  margin-top: 2rem;
}

.transaction {
  display: flex;
  padding: 0.5rem 0;
  justify-content: space-between;
}

.description-output {
  font-size: 2.5rem;
}

.date-output {
  font-size: 1.3rem;
}
